/* Estilo para limitar o carousel ao tamanho máximo da tela */
.carousel-inner {
    max-height: 100vh;
  }
  
  /* Estilo para ajustar a imagem no carousel */
  .carousel-inner .carousel-item img {
    max-height: 100vh;
    object-fit: cover;
  }
  
  /* Estilos para a legenda do carousel */
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    left: 0;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  /* Estilos para o título da legenda */
  .carousel-caption h5 {
    color: #E50914;
    font-weight: bold;
    font-size: 30px;
  }
  
  /* Estilos para o texto da legenda */
  .carousel-caption p {
    color: #ffffff;
  }
  